* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.page-wrapper {
    width: 100%;
    padding: 0px 40px;
    max-width: 1280px;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* -----------------------
ヘッダー
----------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 8px;
    border-bottom: solid 2px #86868a;
}

.header ul {
    display: flex;
    gap: 32px;
}

.header ul :hover {
    opacity: 0.8;
}

/* -----------------------
セクション
----------------------- */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.section-title {
    margin: 32px;
}

/* -----------------------
プロフィール
----------------------- */

.profile {
  display: flex;
  align-items: center;
  gap: 80px;
}

.profile-img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 18%;
}

.profile-detail {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    gap: 16px;
}

/* -----------------------
趣味
----------------------- */

.interests {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,3fr) );
    width: 100%;
    grid-gap: 8px;
}

.interest {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.6;
    margin: 24px;
}

.interest_img {
    width: 20%;
    height: auto;
    object-fit: cover;
}

.interest_title {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    padding-bottom: 16px;
    color: #86868a;
}

/* -----------------------
フッター
----------------------- */

.fotter {
    text-align: end;
    font-size: smaller;
    margin-top: 32px;
}